doctype html
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
  title Login Page
  // Made with love by Mutiullah Samim
  // Bootsrap 4 CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  // Fontawesome CDN
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
  
  // Acá pongo la ruta del CSS
  link(rel='stylesheet', type='text/css' href='../../stylesheets/login.css')
.container
  .d-flex.justify-content-center.h-100
    .card
      .card-header
        h3 Ingresar
        .d-flex.justify-content-end.social_icon
          span
            i.fab.fa-facebook-square
          span
            i.fab.fa-google-plus-square
          span
            i.fab.fa-twitter-square
      .card-body
        form#Login(action='/login' method='post')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-user
            input#username.form-control(type='email' placeholder='Email Addres' name='email')
          .input-group.form-group
            .input-group-prepend
              span.input-group-text
                i.fas.fa-key
            input#password.form-control(type='password' placeholder='Password' name='password')
          .row.align-items-center.remember
            input(type='checkbox')
            | Recuerdame
          .form-group
            input.btn.float-right.login_btn(type='submit' value='Login')
      .card-footer
        .d-flex.justify-content-center.links
          | No tienes una cuenta?
          a(href='#') Registrate
        .d-flex.justify-content-center
          a(href='/auth/google') Iniciar sesión con Google
          a(href='/auth/facebook') Iniciar sesión con Facebook
          a(href='/forgotPassword') Olvidé mi contraseña :c

